<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AdactinHotelSuite" parallel="false">

    <listeners>
        <listener class-name="de.chennai.guvi.report.ITestListenerImpl"/>
    </listeners>

    <test name="AdactinHotelTestFlow">
        <classes>
            <class name="de.chennai.guvi.testcases.LoginPageTest"/>
            <class name="de.chennai.guvi.testcases.SearchHotelTestPage"/>
            <class name="de.chennai.guvi.testcases.SelectHotelTestPage"/>
            <class name="de.chennai.guvi.testcases.BookHotelTestPage"/>
            <class name="de.chennai.guvi.testcases.BookingConfirmationTestPage"/>
        </classes>
    </test>

</suite>
